div{
    border-width: 5px;
    border-color: black;
    border-style:solid ;
}

.border {
    border: 2px black solid; 
    
    padding: 1%;
}

#buggy{
    background-color: aqua;
}

#first{
    margin-top: 10%;
    background-color: aqua;
    
}

#second{
    margin-top: 10%;
    background-color: brown;
}

#third{
    margin-top: 10%;
    background-color: hwb(113 17% 15%);
}