*{
    margin: 0;
}

body{
    border-width: 1px;
    border-color: black;
    border-style:solid ; 
    
    text-align: center;
}

.border {
    display: flex;
    justify-content: center;
    border: 2px black solid; 
    margin-top: 0%;  
    font-size: 17px;
}

.menu ul a {
    font-size: 17px;
    padding: 10px 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s; 
}

.menu ul li a:hover {
    font-size: 22px;
    color: #3498db; 
}

#second ul {
    padding-left: 20px; 
    list-style-position: inside; 
}

#first{
    margin: 0rem;
    background-color: aqua;
}

#second{
    margin: 0rem;
    background-color: brown;
}

#third{
    
    background-color: hwb(113 17% 15%);
}


#Buggy {
    background-color: lightblue;
}

#Lucas {
    background-color: lightsalmon;
}

#Haku {
    background-color: lightgreen;
}

